.preAboutHeader .breadCrumbs a,
.preAboutHeader .breadCrumbs span{
    color: #A9A9A9;
}

.preAboutHeader{
    padding: 100px var(--padding-sides) 20px var(--padding-sides);
    margin-top: 120px;
}

.aboutContentWrapper{
    display: flex;
    transition: unset;
    gap: clamp(20px, 4vw, 60px);
    padding-inline: 0 !important;
}
.aboutHeader h1{
    font-size: clamp(24px, 4vw, 48px)
;
    font-weight: 400;
    font-family: var(--font-Header);
    color: var(--color-primary);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #E0E0E0;
}
.aboutHeader{
    margin-bottom: 2rem;
    padding: 0 var(--padding-sides)

}

.aboutHeader p{
    font-weight: 300;
    width: 100%;
    color: #4D4D4D;
    width: 90%;
    line-height: 150%s;
}
.aboutContent{
    width: 80%;
    transition: unset;

}
.aboutContentWrapper .otherCourseContainer{
    width: 30%;
    transition: unset;
}
.aboutDetailsWrapper{
    position: relative;
    padding: 0 var(--padding-sides)
}
.bgColorUnderlay{
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 0;
    height: calc(100% - 100px);
    width: 100vw;
    background-color: #F3F3F3;
}
.aboutContentWrapper .otherDepartment{
    padding: 0 var(--padding-sides)
}
.aboutDetails{
    position: relative;
    z-index: 10;;
    padding-bottom: 80px;
}

.aboutDetails img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.aboutDetails p{
    line-height: 150%;
    margin-top: 2rem;
    font-weight: 300;
    width: 100%;
}
.mottoWrapper{
    margin: 60px 0 60px 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 60px;
    height: auto;
    border-bottom: 1px solid #c9c9c9;

}

.mottoWrapper .underlay{
    font-size: clamp(80px, 5vw, 300px);
    width: auto;
    color: #F4F3F3;
    z-index: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mottoWrapper .visionWrapper h1,
.mottoWrapper .missionWrapper h1{
    font-family: var(--font-Header);
    font-weight: 400;
    font-size: clamp(24px, 10vw, 64px);
    width: 100%;
    text-align: center;
}
.visionWrapper, .missionWrapper {
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.mottoWrapper .visionWrapper p,
.mottoWrapper .missionWrapper p{
    font-weight: 300;
    line-height: 150%;
    text-align: justify;
}

.mottoWrapper .visionWrapper h1{
    color: var(--color-secondary)
}
.mottoWrapper .missionWrapper h1{
    color: var(--color-primary)
}

@media (max-width: 1024px) {

    .preAboutHeader {
        padding-top:30px;
    }

    .aboutContentWrapper {
        flex-direction: column;
    }

    .aboutContent,
    .aboutContentWrapper .otherCourseContainer {
        max-width: 100%;
        width: 100%;
        padding: 20px 0;
        height: fit-content;
    }
    .aboutContent{
        padding: 0;
    }
    .otherCourseContainer{
        
        margin-bottom: 30px;
    }

    .aboutHeader h1 {
        width: 100%;
        font-size: clamp(32px, 6vw, 64px);
    }

    .bgColorUnderlay {
        left: 0;
        width: 100%;
    }
    .otherCourseContainer{
        height: fit-content;
    }
}

@media (max-width: 768px) {

    .preAboutHeader {
        padding: 20px var(--padding-sides) 10px var(--padding-sides);
        margin-top: 91px;
    }

    .aboutHeader {
        padding: 0 var(--padding-sides);
        margin-bottom: 0;
    }

    .aboutDetailsWrapper {
        padding: 0 1.5rem;
    }

    .aboutDetails img {
        height: 260px;
    }

    .aboutDetails p {
        width: 100%;
        font-size: 0.95rem;
    }
    .mottoWrapper{

        flex-direction: column;
    }

 

    .mottoWrapper {
        margin: 3rem 0;
        padding-bottom: 3rem;
        gap: 3rem;
    }

    .mottoWrapper .underlay {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .mottoWrapper .visionWrapper p,
    .mottoWrapper .missionWrapper p {
        width: 100%;
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {

    .aboutHeader h1 {
        font-size: 2rem;
    }

    .aboutDetails img {
        height: 220px;
    }

    .mottoWrapper .visionWrapper h1,
    .mottoWrapper .missionWrapper h1 {
        font-size: 2.5rem;
    }

    .otherCourseContainer .header h1 {
        font-size: 1.2rem;
    }

    .otherCourseContainer a {
        font-size: 0.95rem;
    }
}


@media (min-width: 1600px){
    .preAboutHeader{
        padding-left:  var(--padding-sides) !important;
        padding-right:  var(--padding-sides) !important;
    }
}