/* General */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../../public/images/contact.avif') no-repeat center center/cover;
  background-attachment: fixed;
}

/* Contact Section */
.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  min-height: 82.5vh;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
}

.contact-box {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
  column-gap: 1rem;
}

/* Left Panel */
.contact-left {
  flex: 1;
  padding: 20px;
  min-width: 300px;
  background: #fff;
  min-height: 600px;
}

.contact-left h2 {
  color: #f26522;
  margin-bottom: 20px;
}

.info-block {
  display: flex;
  margin-bottom: 20px;
  gap: 15px;
}

.icon {
  font-size: 24px;
  color: #f26522;
}

.contact-left a {
  color: #0077cc;
  text-decoration: none;
}
.contact-left a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  font-size: 24px;
  color: #333;
  margin-right: 16px;
}

.social-icons a:hover {
  color: #f26522;
}

/* Right Panel */
.contact-right {
display: flex;
flex-direction: column;  /* padding: 30px; */
  min-width: 300px;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  /* height: 100%; */
  /* background-color: white; */
}

.contact-right-inner {
  /* /* flex: 1; */
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  min-width: 300px;
  min-height: 450px;
}

.contact-right h2 {
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.contact-right input,
.contact-right textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
}

.contact-right textarea {
  resize: none;
  height: 100px;
}

.contact-right input:focus,
.contact-right textarea:focus {
  border-bottom: 1px solid #f26522;
  outline: none;
}

.contact-right button {
  background: #f26522;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.contact-right button:hover {
  background: #d7541b;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-box {
    flex-direction: column;
  }
  .contact-left,
  .contact-right {
    min-width: 100%;
  }
}
