

.courseContent .coursePreHeader{
    font-size: clamp(16px, 2vw, 20px);
}

.courseContent .cardContent{
    padding-top: 2.5rem !important;
}


.courseContentContainer{
    padding-inline: 0;
}

/* DESKTOP ONLY */
@media (min-width: 1024px) {
  .filterColumn {
    position: relative;
    width: 320px;
    max-width: 320px;
    transform: none !important;
    box-shadow: none;
  }
}
