.courseContent .card img{
    width: 40% !important;
    max-width: 400px;
}

.courseContent .coursePreHeader{
    font-size: clamp(16px, 2vw, 20px);
}

.courseContent .cardContent{
    padding-top: 2.5rem !important;
}