.otherDepartment{
    width: 20%;
}

.departmentWrapper span{
    display: block;
    font-family: var(--font-Header);
    font-size: clamp(18px, 4vw, 28px);
    font-weight: 500;
    padding: 2rem 0 1rem 0;
}

.postWrapper p{
    line-height: 150%;
}