footer{
  padding: clamp(40px, 10vw, 70px) var(--padding-sides) clamp(1rem, 5vw, 20px) var(--padding-sides);
  background-color: var(--color-primary);
  z-index:1000;
  position: relative;
}

.footerContentWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContentWrapper , footer .linkWrapper{
  width: 50%;
}

.logoContentWrapper .logoWrapper img{
  height: auto;
  width: 15%;
  margin-bottom: 2rem;
}

.addressWrapper p, .contactWrapper p{
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 300;
  color: white;
}
.address{
  padding-bottom: 1.5rem !important;
}

footer .linkWrapper{
  display: flex;
  gap: clamp(40px, 10vw, 100px);
  align-items: flex-start;
}
footer .linkWrapper h1{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: white;
}
footer .linkContainer{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
footer .linkWrapper a{
  text-decoration: none;
  color: white;
}
footer .linkWrapper a:hover{
  cursor: pointer;
  color: var(--color-secondary-light);
}

.subContentWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}

.socialWrapper{
  width: 10%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.socialWrapper a{
  text-decoration: none;
  font-size: 32px;
  color: white;
}
.socialWrapper a:hover{
  cursor: pointer;
  color: var(--color-secondary-light);
}

.copyRight{
  width: 90%;
  color: white;
  font-size: 14px;
}

.copyRight{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .5rem  
}

.dash{
  width: 100%;
  height: 1px;
  background-color: white;
}

.linkWrapper .dash{
  display: none;
}

@media (max-width: 1024px) {
  .footerContentWrapper{
    flex-direction: column;
    gap: 60px;
  }

  .logoContentWrapper,
  footer .linkWrapper{
    max-width: 100%;
  }

  .logoContentWrapper{
    text-align: center;
  }
  footer .linkWrapper{
    justify-content: space-between;
  }

  .logoContentWrapper .logoWrapper img{
    width: 120px;
  }
  footer p{
    text-align: center;
  }

}

@media (max-width: 768px) {
  footer{
    padding: 80px 1.5rem 30px;
  }

  
  .footerContentWrapper{
    gap: 40px;
  }


  .logoContentWrapper .logoWrapper img{
    width: 100px;
    margin: 0 auto 1.5rem;
  }

  .addressWrapper{
    text-align: center;
  }

  footer .linkWrapper{
    flex-direction: column;
    gap: 30px;
    /* align-items: center; */
    text-align: center;
  }

  footer .linkContainer{
    align-items: center;
  }
}

@media (max-width: 768px) {
  .subContentWrapper{
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }

  .socialWrapper{
    width: auto;
    justify-content: center;
  }

  .copyRight{
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .dash{
    width: 100%;
  }
}

@media (max-width: 480px) {
  footer{
    padding: 40px 1rem 25px;
  }
  
.linkWrapper .dash{
  display: block;
}
  .footerContentWrapper{
    align-items: flex-start;
  }
  footer * {
    text-align: start !important;
  }

  footer .linkWrapper h1{
    font-size: 13px;
  }

  footer .linkWrapper a{
    font-size: 14px;
  }

  .socialWrapper a{
    font-size: 26px;
  }

  .copyRight{
    font-size: 13px;
  }
  .footer .linkWrapper{
    align-items: flex-start !important;
  }
  footer .linkContainer{
    align-items: flex-start;
  }
  .socialWrapper{
    align-items: flex-start;
    width: 100%;
    justify-content: flex-start;
  }
  .copyRight p{
    font-size: 8.5px;
  }

  .copyRight{
    align-items: flex-start;
  }
  footer .linkWrapper h1{
    margin-bottom: 0;
  }
}
