.pageBannerWrapper{
    position: relative;
}

.pageBannerWrapper .overlay{
    height: 100%;
    background: linear-gradient(
    to bottom,
    rgba(242, 90, 41, 0.25) 0%,
    rgba(242, 141, 41, 0.72) 31%,
    rgba(242, 172, 41, 1) 100%
);

}

.pageBannerWrapper .bannerContent{
    position: absolute;
    bottom: 65px;
    left: var(--padding-sides);
    color: white;
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 1rem;
    z-index: 20;
}

.pageBannerWrapper .bannerContent h1{
    font-family: var(--font-Header);
    font-weight: 400;
    font-size: clamp(28px, 6vw, 64px);
}

.pageBannerWrapper .bannerContent p{
    font-weight: 400;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 300;
}

.pageBannerWrapper .breadCrumbs a{
    text-decoration: none;
    color: white;
   
}
.pageBannerWrapper .breadCrumbs{
    align-items: center;
    display: flex;
    gap:.5rem;
}
.section{
    display: flex;
    gap: clamp(20px, 4vw, 60px);
}

.mainContent{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2vw, 30px);
}

.mainContent .card{
    display: flex;
    background-color: #FAFAFA;
    width: 100%;
    min-width: 350px;
}


.mainContent .card img{
    height: 350px;
    width: 65%;
    object-fit: cover;
}

.mainContent .card .cardContent{
    padding: 1rem 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1.5rem;
}


.mainContent .card .cardContent h1{
    height: 35%;
    font-size: clamp(24px, 5vw, 32px);
    display: flex;
    align-items: center;
}
.mainContent .card .cardContent p{
    font-weight: 300;
}

.mainContent .card .cardContent a{
    display: flex;
    align-items: center;
    color: var(--color-primary);
    text-decoration: none;
    align-self: flex-end;
    position: absolute;
    gap: 1rem;
    right: 2rem;
    bottom: 1.5rem;
}


.filterWrapper{
    width: 30%;
    position: sticky;
    top: calc(141px + 2rem);
    min-width: 280px;
    height: fit-content;
}

.filterWrapper .headerWrapper h1{
    font-size: 16px;
    font-weight: 500;
    color: #4D4D4D;
    padding-bottom: 8px;
    border-bottom: 1px solid #BFBFBF;
}

.filterWrapper .filterHeader h1{
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 500;
    padding: 1rem 0;
}

.filterContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.filterWrapper .filter{
    display: flex;
    align-items: center;
    gap: 1rem;
}
