.projectHeaderWrapper{
    position: relative;
    padding: 150px var(--padding-sides) 20px var(--padding-sides);
    width: 100%;
    height: fit-content;
}

.projectHeaderWrapper img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    top: 0;
    left: 0;
}

.projectHeaderWrapper .breadCrumbs{
    position: relative;
    z-index: 10;
    color:#ABABAB;
}
.projectHeaderWrapper .breadCrumbs a{
    color:#ABABAB;
}
.projectHeaderContent{
    position: relative;
    z-index:10;
}

.projectHeaderContent h1{
    font-family: var(--font-Header);
    font-weight: 600;
    color: #454545;
    font-size: clamp(20px, 4vw, 40px);
    margin: 1.5rem 0;
}

.projectHeaderContent p{
    width: 50%; 
    font-weight: 300;
}

.highlightWrapper .blackBar{
    width: 100%;
    height: 20px;
    background-color: black;
}

.projectHighlight{
    width: 100%;
    height: 100vh;
    position: relative;
}

.highlight{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: clamp(2rem, 2vw, 5rem);
    position: relative;
}

.highlight img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}


.highlight .content{
    position: relative;
    /* bottom: clamp(30px, 4vw, 60px); */
    /* left: var(--padding-sides); */
    width: 70%;
    z-index: 20;
    

}
.highlightContentContainer{
    display: flex;
    padding-inline: 0 !important;
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--padding-sides) !important;
    align-items: center;
}
.highlight .content h1{
    font-family: var(--font-Header);
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 400;
    color: white;
    margin-bottom: 0.5rem;
}
.highlight .content p{
    font-weight: 300;
    color: white;
    margin-bottom: 2.5rem;
}
.highlight .content a{
    text-decoration: none;
    color: white;
    padding: 0.8rem 1.8rem;
    background-color: var(--color-primary);
    border-radius: 100px;
}
.highlight .content a:hover{
    background-color: var(--color-primary-hover);
}


.projectAllHeader{
    margin: 2.5rem 0;
    padding: 2rem var(--padding-sides) 0 var(--padding-sides)
}
.projectAllHeader h1{
     font-family: var(--font-Header);
    font-weight: 600;
    font-size: clamp(20px, 4vw, 40px);
    margin: 1.5rem 0;
}
.projectAllHeader p{
     width: 50%; 
    font-weight: 300;
}

.projectContent{
    margin-bottom: 150px;
}

.highlightNav {
    display: flex;
    gap: 1rem;
    width: 30%;
    justify-content: flex-end;
    z-index: 30;
}

.highlightBtn {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlightBtn:hover {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
}

.btnWrapper a{
    text-decoration: none;
}
@media (min-width: 1600px){
    .section{
        padding: 0 !important
    }
    .aboutGCIT.section {
    padding: clamp(60px, 10vw, 120px) var(--padding-sides) !important;
    }
    .projectHeaderWrapper{
        position: relative;
        padding: 150px 0 20px 0;
        width: 100%;
        height: fit-content;
    }
    .courseWrapper .header h1{
        padding: 0;
    }
    .highlightContentContainer{
    display: flex;
    padding-inline: 0 !important;
    justify-content: space-between;
    width: 100%;
    padding: 0 !important;
    align-items: center;
}
}
@media (max-width: 1024px) {
    .projectAllHeader p{
        width: 100%;
    }

    .mainContent .card .cardContent h1{
        height: fit-content;
        /* gap: 1rem; */
    }
    .mainContent .card .cardContent{
        gap: 1rem;
    }
    .courseContent .card img{
        width: 50% !important;
    }
    .projectHeaderContent p{
        width: 100%;
    }
    .highlight .content{
        width: 100%;
    }
    .projectHeaderWrapper{
    padding: 80px var(--padding-sides) 20px var(--padding-sides);
    }
   
}
@media (max-width: 480px) {
    .courseContent .card img {
        width: 100% !important;
    }
    
   .highlightContentContainer{
    flex-direction: column;
   }

   .highlightContentContainer > *{
    width: 100%;
   }
   .projectHighlight{
    height: calc(50vh - 80px);
   }
   .highlight .overlay{
    height: 70%;
   }
}