.projectHeaderWrapper{
    position: relative;
    padding: 150px var(--padding-sides) 20px var(--padding-sides);
    width: 100%;
    height: fit-content;
}

.projectHeaderWrapper img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    top: 0;
    left: 0;
}

.projectHeaderWrapper .breadCrumbs{
    position: relative;
    z-index: 10;
    color:#ABABAB;
}
.projectHeaderWrapper .breadCrumbs a{
    color:#ABABAB;
}
.projectHeaderContent{
    position: relative;
    z-index:10;
}

.projectHeaderContent h1{
    font-family: var(--font-Header);
    font-weight: 600;
    color: #454545;
    font-size: clamp(20px, 4vw, 40px);
    margin: 1.5rem 0;
}

.projectHeaderContent p{
    width: 50%; 
    font-weight: 300;
}

.highlightWrapper .blackBar{
    width: 100%;
    height: 20px;
    background-color: black;
}

.projectHighlight{
    width: 100%;
    height: 70vh;
    position: relative;
}

.highlight{
    width: 100%;
    height: 100%;
    position: relative;
}

.highlight img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}


.highlight .content{
    position: absolute;
    bottom: clamp(20px, 4vw, 60px);
    left: var(--padding-sides);
    width: 60%;
    z-index: 20;
}

.highlight .content h1{
    font-family: var(--font-Header);
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 400;
    color: white;
    margin-bottom: 0.5rem;
}
.highlight .content p{
    font-weight: 300;
    color: white;
    margin-bottom: 2.5rem;
}
.highlight .content a{
    text-decoration: none;
    color: white;
    padding: 0.8rem 1.8rem;
    background-color: var(--color-primary);
    border-radius: 100px;
}
.highlight .content a:hover{
    background-color: var(--color-primary-hover);
}

.highlightSliderTrack{
    display: flex;
    flex-direction: column;
    height: 80%;
    z-index: 20;
    width: 10%;
    min-width: 200px;
    position: absolute;
    bottom: clamp(20px, 4vw, 60px);
    right: var(--padding-sides);
    overflow: hidden;
}
.highlightSlider{
    width: 100%;
    height: 16%;
    position: relative;
}
.highlightSlider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
    position: absolute;
    top:0;
    left: 0;
}

.highlightSlider .sliderImgOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(126, 126, 126, 0.55);   /* black tint */
    backdrop-filter: blur(8px);        /* main blur */
    -webkit-backdrop-filter: blur(8px);/* Safari support */
    z-index: 20;
}

.highlightSlider .activeHighlight{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
   
    background: #76b44477;   
}

.projectAllHeader{
    margin: 2.5rem 0;
    padding: 2rem var(--padding-sides) 0 var(--padding-sides)
}
.projectAllHeader h1{
     font-family: var(--font-Header);
    font-weight: 600;
    font-size: clamp(20px, 4vw, 40px);
    margin: 1.5rem 0;
}
.projectAllHeader p{
     width: 50%; 
    font-weight: 300;
}

.projectContent{
    margin-bottom: 150px;
}