.searchHeader{
    background-color: rgb(250, 250, 250);
    height: auto;
    min-height: 200px;
    display: flex;
    align-items: flex-end;
}

.searchHeader .sectionWrapper{
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-between;

}
.searchPageBar{
    height: 40px
}
.searchPageBar input{
    height: 40px;
    width: 300px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0.5rem;
    border: 1px solid #a3a3a3;
}
input:focus {
    outline: none;
}

.searchHeaderContent h2{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0.5rem;
    color: var(--color-text-light)
}

.searchResult{
    padding: 50px 0;
}
.searchBoxContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.searchBoxContainer > * {
    padding-bottom: 2rem; /* matches the gap */
}

.searchBoxContainer > *:not(:last-child) {
    border-bottom: 1px solid #d4d4d4;
}

.resultBox{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.resultBox a{
    text-decoration: none;
    color: var(--color-primary);
    padding: 0;
    margin:0 ;
    display: flex;
    height: 24px;
    gap: .5rem;
    margin-top: 1rem;
}

.resultBox a:hover{
    color: var(--color-primary-light);
    gap: 1rem;
}
.resultBox a p{
    display: flex;
    align-items: center;
}